body {
  font-family: 'Kalam', cursive;
    background-color: #FFF4E6;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
  
  .card-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 20vw;
    /* background-image: url("https://images.unsplash.com/photo-1564069112982-d92b01cf8695"); */
    background-size: cover;
    background-position: center;
    filter: blur(100px); /* Add blur effect */
    /* transition: filter 100s ease-in-out; Add transition */
  }
  
  .card {
    position: absolute; /* Add position absolute */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1; /* Add higher z-index */
    padding: 2rem;
    max-width: 30rem;
    background-color: #fff;
    border-radius: 1rem;
    text-align: center;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
  }
  h1 {
    font-family: 'Kalam', cursive;
    font-size: 3rem;
    margin-bottom: 1rem;
  }
  
  .card h1 {
    font-family: 'Kalam', cursive;
    font-size: 3rem;
    margin-bottom: 1rem;
  }
  
  .card p {
    font-family: 'Kalam', cursive;
    font-size: 1.2rem;
    margin-bottom: 2rem;
  }
  
  .card button {
    font-family: 'Kalam', cursive;
    font-size: 1.5rem;
    padding: 1rem 2rem;
    border: none;
    background-color: #333;
    color: #fff;
    border-radius: 0.5rem;
    cursor: pointer;
  }
  
  .card-container.active .card {
    transform: scale(1);
  }
  
  .card-container.active {
    filter: none; /* Remove blur effect */
  }
  
  
  .card.hidden {
    opacity: 0;
    pointer-events: none;
  }
  
  h1 {
    font-size: 36px;
    margin-top: 0;
    text-align: center;
    color: #F5A962;
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
  }
  
  .name {
    font-family: 'Kalam', cursive;
    font-size: 7vw;
    margin: 50px auto;
    text-align: center;
    color: #F5A962;
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
    text-transform: uppercase;
  }
  
  .button-container {
    text-align: center;
    margin-top: 20px;
  }
  
  .button {
    background-color: #F5A962;
    color: #FFFFFF;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
  }
  
  .countdown {
    font-family: 'Kalam', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    font-weight: bold;
    margin-top: 1rem;
    color: #F5A962;
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
    text-transform: uppercase;
  }
  
  .countdown-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 1rem;
  }
  
  .countdown-item span {
    font-size: 4rem;
    margin-bottom: 0.5rem;
  }  
  
  .slideshow-container {
    /* add blur on the the image */
    filter: blur(5px);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  
  .slide {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    animation: fade 1.5s;
  }
  
  @media only screen and (max-width: 768px) {
    .slide {
      height: 70vh;
    }
  }
  
  @media only screen and (min-width: 769px) and (max-width: 1024px) {
    .slide {
      height: 80vh;
    }
  }
  
  @media only screen and (min-width: 1025px) and (max-width: 1440px) {
    .slide {
      height: 90vh;
    }
  }
  
  @media only screen and (min-width: 1441px) {
    .slide {
      height: 100vh;
    }
  }
  
  
  @keyframes fade {
    from { opacity: 0; }
    to { opacity: 1; }
  }
  
  .attendees img {
    border-radius: 15%;
    height: calc(100vh / 4);
  }
  .attendeesK img {
    border-radius: 10%;
    height: calc(100vh / 3.5);
  }
  .attendees h2 {
    font-size: 4rem;
    margin-top: 0;
    text-align: center;
    color: #F5A962;
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
    text-transform: uppercase;
  }
  .attendees {
    font-family: 'Kalam', cursive;
    margin-top: 50px;
  }
  
  .attendees-container {
    overflow: hidden;
  }
  
  .attendees-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    animation: scroll 30s linear infinite;
  }
  .attendees-listK {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    animation: scroll 10s linear infinite;
  }
  
  .attendees-list li {
    margin-right: 20px;
  }
  
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }

  .left-image {
    position: absolute;
    /* top: 0;
    left: 0; */
    /* width: 10%; */
    height: 100%;
    background-image: url('images/Kharsten1.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
  }
  
  .right-image {
    position: absolute;
    /* top: 0;
    right: 0; */
    /* width: 10vw; */
    height: 100%;
    background-image: url('images/Kharsten2.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1; 
  }
  .attendees-list p {
    margin: 5px;
    font-size: 1.5rem;
    font-weight: bold;
    color: #F5A962;
    text-align: center;
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
    text-transform: uppercase;
  }
  .grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 5px;
  }
  
  li {
    list-style: none;
    text-align: center;
  }
  
  .grid img {
    height: 250px;
  object-fit: cover;
  }
  
  .grid p {
    margin: 5px;
    font-size: 0.9rem;
    font-weight: bold;
    color: #F5A962;
    text-align: center;
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
    text-transform: uppercase;
  }
  
  .hidden {
    display: none;
  }
  
  #fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 9999;
  }
  
  .fullscreen-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .fullscreen-container img {
    max-width: 100%;
    max-height: 100%;
  }
  
  .fullscreen-container button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    color: #fff;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  
  
  
  
  
  
  